<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<i18n>
	<token xml:id="title">
		<uk>Системні модулі</uk>
		<ru>Системные модули</ru>
	</token>
	<token xml:id="append_mode">
		<uk>Створення модуля</uk>
		<ru>Добавление модуля</ru>
	</token>
	<token xml:id="update_mode">
		<uk>Редагування модуля</uk>
		<ru>Изменение модуля</ru>
	</token>
</i18n>