<h1>{h1}</h1>
<div style="margin: 0 auto; width: 1000px;">
<form method="post">
<table class="grid shadow" width="100%">
	<tbody>
		<tr>
			<th class="label"><label for="source">URL запроса:</label></th>
			<td><input type="text" id="source" name="source" value="{source}" maxlength="255" style="width: 600px;" /> (RegExp)</td>
		</tr>
		<tr>
			<th class="label"><label for="destination">URL назначения:</label></th>
			<td><input type="text" id="destination" name="destination" value="{destination}" maxlength="255" style="width: 600px;" /></td>
		</tr>
		<tr>
			<th class="label"><label for="status">
<acronym title="301 Moved Permanently («перемещено навсегда»)
302 Moved Temporarily («перемещено временно»)
303 See Other (смотреть другое)
304 Not Modified (не изменялось)
307 Temporary Redirect («временное перенаправление»)">Код:</acronym></label></th>
			<td><input type="text" class="number" id="status" name="status" value="{status}" maxlength="5"  style="width: 40px;"/></td>
		</tr>
		<tr>
			<th class="label"><label for="active">Активно:</label></th>
			<td><input type="checkbox" name="active"{?active} checked="checked"{/active} id="active"/></td>
		</tr>
	</tbody>
</table>
<p align="center"><button type="submit">Сохранить</button></p>
<a href="redirect.php">Вернуться в список перенаправлений</a>
<br /><br />
<input type="hidden" name="action" value="save" />
</form>
{?queries}
<table class="grid shadow">
	<caption>История запросов<caption>
	<thead>
		<tr>
			<th>Дата запроса</th>
			<th>HTTP_REFERER</th>
			<th>REMOTE_ADDR</th>
			<th>HTTP_USER_AGENT</th>
			<th>REDIRECT_URL</th>
			<th>REDIRECT_QUERY_STRING</th>
		</tr>
	</thead>
	<tbody>
		{queries}
	</tbody>
</table>
<br />
<a href="redirect_reset.php?id={id}" onclick="return confirm('Очистить историю запросов?')">Очистить историю запросов</a>
{/queries}
</div>
