<h1 class="pagetitle">{pTitle}</h1>
<div style="width: 97%; margin: 0 auto;">
	<form method="post" name="n">
		<table class="grid shadow" style="width: 100%;">
			<tbody>
				<tr><th>Название шаблона:</th><td><input name="name" maxlength="100" style="width:400px" value="{name}"/></td></tr>
				<tr><th>Идентификатор:</th><td><input name="alias" maxlength="100" style="width:400px" value="{alias}"/></td></tr>
				<tr>
					<td colspan="2">
						<textarea id="html" name="html" style="width:100%" rows="37">{html}</textarea>
					</td>
				</tr>
			</tbody>
		</table>
		<p align="center">
			<input type="submit" value="Сохранить" /> &nbsp; &nbsp;
			<input type="submit" value="Сохранить и продолжить" onclick="document.n['return'].value='true';"/>
		</p>
		<input type="hidden" name="action" value="save" />
		<input type="hidden" name="return" value="" />
	</form>
	<p align="center"><a href="template.php">Вернуться в список шаблонов</a></p>
{attachment_list}
</div>
<script type="text/javascript" src="edit_area/edit_area_full.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	editAreaLoader.init({
		id                     : "html",
		start_highlight        : true,
		allow_toggle           : true,
		allow_resize           : "y",
		font_size              : 9,
		language               : "ru",
		syntax                 : "html",
		toolbar                : "search, go_to_line, fullscreen, |, undo, redo, |, select_font, |, syntax_selection, |, change_smooth_selection, highlight, reset_highlight, word_wrap, |, help",
		syntax_selection_allow : "css,html,js,php,python,vb,xml,c,cpp,sql,basic,pas,brainfuck",
		show_line_colors       : true
	});
});
</script>