<h1>{h1}</h1>
<div style="width: 900px; margin: 0 auto;">
	<table class="grid shadow" style="width: 100%;">
		<thead>
			<tr>
				<th style="width: auto;">Ім’я</th>
				<th style="width: 100px;">Логін</th>
				<th style="width: 130px;">E-mail</th>
				<th style="width: 30px;">Мова</th>
				<th style="width: 130px;">Створений</th>
				<th style="width: 130px;">Вхід</th>
				<th style="width: 60px;">Статус</th>
				<th style="width: 90px;">Дії</th>
			</tr>
		</thead>
		<tbody>
{items}
		</tbody>
	</table>
	<br />
	<a href="admin_edit.php">Додати нового адміністратора</a>
</div>
