<tr>
	<td align="left">{name}</td>
	<td align="left">{login}</td>
	<td class="email">{email}</td>
	<td class="center">{locale}</td>
	<td class="date">{dateCreate}</td>
	<td class="date">{dateLogin}</td>
	<td class="center">{state}</td>
	<td align="right">
		<a href="admin_edit.php?id={id}"><img src="img/icon/b_edit.png" border="0" height="16" width="16" alt="Змінити" /></a>
		<a href="admin_del.php?id={id}" onClick="return(confirm('Видалити адміністратора?'));"><img src="img/icon/b_drop.png" border="0" height="16" width="16" alt="Видалити" /></a>
	</td>
</tr>
