<style type="text/css">
HTML, BODY, DOCUMENT {color: black; background-color: #FFF; margin: 0; padding: 0;}
BODY {height: 100%; background-image: url(/cms/img/{?loginError}UPA.jpg{:loginError}UA.jpg{/loginError}); background-position: top left; background-repeat: no-repeat; background-size: 100% 100%}
* {font-family: verdana, tahoma, Arial; font-size: 13px;}
#container {position: absolute; width: 400px; padding: 13px 0px; top: 33%; left: 50%; margin-left: -200px; border: 1px solid red; background-color: #FFC; box-shadow: 1px 1px 4px rgba(0,0,0,0.5); text-align: center;}
table#form {width: 200px; border-spacing: 0; border-collapse: collapse; border: 0; width: 80%; margin: 0 auto;}
table#form td {padding: 3px; text-align: left; color: black;} 
#message {color: red;}
</style>
<div id="container">
	<div id="message">{message}</div>
	<form method="post">
		<table id="form">
			<tbody>
				<tr>
					<td><strong>Логін</strong></td>
					<td><input name="login" maxlength="20" style="width:100px" /></td>
				</tr>
				<tr>
					<td><strong>Пароль</strong></td>
					<td><input name="password" type="password" maxlength="20" style="width:100px" /></td>
				</tr>
			</tbody>
		</table>
		<br /><input type="submit" value="Увійти" />
		<input type="hidden" name="action" value="login" />
	</form>
</div>
