<div id="menu">
	<ul class="level1">
		<li><a href="#" class="drop">Керування контентом</a>
			<ul>
				<li><a href="page.php">Сторінки сайта</a></li>
				<li><a href="template.php">Шаблони</a></li>
				<li><a href="css.php">Стилі (CSS)</a></li>
				<li><a href="js.php">Javascript</a></li>
			</ul>
		</li>
{?admin}
		<li><a href="news.php">Новини</a></li>
		<li><a href="#" class="drop">Налаштування</a>
			<ul>
				<li><a href="topic.php">Меню сайта</a></li>
				<li><a href="xml.php">Локалізація</a></li>
				<li><a href="email_template.php">Шаблони повідомлень</a></li>
				<li><a href="setup.php">Змінні</a></li>
				<li><a href="redirect.php">Редіректи</a></li>
				<li><a href="module.php">Системні модулі</a></li>
				<li><a href="admin.php">Адміністратори</a></li>
			</ul>
		</li>
{:admin}
{?operator}
		<li><a href="news.php">Новини</a></li>
		<li><a href="#" class="drop">Налаштування</a>
			<ul>
				<li><a href="redirect.php">Редіректи</a></li>
			</ul>
		</li>
{/operator}
{/admin}
		<li><a href="logout.php">Вийти</a></li>
	</ul>
	<span style="display: inline-block; float: right; padding: 5px 13px; color: #ccc;">{adminName}</span>
</div>
