<h1>{h1}</h1>

<style type="text/css">
	.ui-state-highlight {height: 30px; background: #8F8 !important;}
	.ui-state-default {}
</style>

<div style="width: 753px; margin: 0 auto 31px;">
	<div id="message-box">
		Для встановлення порядку елементів перетягніть їх на потрібне місце за допомогою миші.<br />
		Після цього клікніть на кнопці
		<table border="0" style="margin:0 auto">
			<tr>
				<td><input type="button" class="saveOrder" name="save" value="Зберегти порядок елементів" disabled="disabled"/></td>
				<td><span class="saveOk" style="display:none;"><img src="img/icon/os_complete.png" /></span><span class="saveFail" style="display:none;"><img src="img/icon/os_cancelled.png" /></span></td>
			</tr>
		</table>
	</div>
</div>

<div style="margin: 0 auto; width: 900px;">
	<a href="module_edit.php">Новий модуль</a><br /><br />
	<table class="grid shadow" width="100%">
		<thead>
			<tr>
				<th>Назва</th>
				<th>Посилання</th>
				<th>Путь до модулю</th>
				<th width="60">&nbsp;</th>
			</tr>
		</thead>
		<tbody id="sortable">
			{items}
		</tbody>
	</table>
	<br />
	<table border="0" style="margin:0 auto">
		<tr>
			<td><input type="button" class="saveOrder" name="save" value="Зберегти порядок елементів" disabled="disabled"/></td>
			<td><span class="saveOk" style="display:none;"><img src="img/icon/os_complete.png" /></span><span class="saveFail" style="display:none;"><img src="img/icon/os_cancelled.png" /></span></td>
		</tr>
	</table>
	<br />
	<a href="module_edit.php">Новий модуль</a>
</div>

<script type="text/javascript">
$(function() {
	$( "#sortable" ).sortable({
		placeholder: "ui-state-highlight",
		update: function (event, ui) {
			$(".saveOrder").prop('disabled', false);
			$(".saveOk").hide();
			$(".saveFail").hide();
		}
	});
	$("#sortable").disableSelection();

	$('.saveOrder').bind(
		'click',
		function (e) {
			$('.saveOrder').prop('disabled', true);
			var sorted = $("#sortable").sortable("serialize", {key: "order[]"});
			$.post(
				'/cms/module_renumber.php',
				sorted,
				function (data) {
					if (data == 'OK') {
						$('.saveOk').show();
					}
					else {
						$('.saveFail').show();
						$('.saveOrder').prop('disabled', false);
						alert(data);
					}
				}
			).fail( function () {
				$('.saveFail').show();
				$('.saveOrder').prop('disabled', false);
			});
			e.preventDefault();
		}
	);
});
</script>
