<h1>{?id}Редагування{:id}Створення{/id} модуля</h1>
<div style="margin: 0 auto; width: 600px;">
<form method="post">
<table class="grid shadow" width="100%">
	<tbody>
		<tr>
			<th class="label">Назва:</th>
			<td><input type="text" name="name" value="{name}" /></td>
		</tr>
		<tr>
			<th class="label">URL: </th>
			<td><input type="text" name="url" value="{url}" /></td>
		</tr>
		<tr>
			<th class="label"><label for="path">Путь до модулю</label></th>
			<td><input type="text" name="path" value="{path}" id="path"/></td>
		</tr>
	</tbody>
</table>
<p align="center"><button type="submit">Зберегти</button></p>
<input type="hidden" name="action" value="save" />
</form>
<a href="topic.php">Повернутися до списку модулів</a>
</div>