<h1 class="pagetitle">{pTitle}</h1>
<div style="width: 900px; margin: 0 auto;" id="pagetop">
	<p align="left"><a href="template_edit.php">Новий шаблон</a> &nbsp; &nbsp; &nbsp; <a href="#pagebottom">У кінець</a></p>
	<table class="grid shadow" style="width: 100%;" id="templates">
		<thead>
			<tr>
				<th width="*">Назва</th>
				<th width="200">ID: <input type="text" id="searchTemplate" value="" style="width:150px;" maxlength="20" /></th>
				<th width="40">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			{items}
		</tbody>
	</table>
	<br /><p><a href="template_edit.php">Новий шаблон</a> &nbsp; &nbsp; &nbsp; <a href="#pagetop">До початку</a></p>
</div>
<div id="pagebottom"></div>
<br /><br />
<script type="text/javascript">
$('#searchTemplate').bind('keyup', function(e) {
	var se = this.value;
	$('.tst').each(function(){
		$(this.parentNode.parentNode).toggle(this.textContent.indexOf(se)>=0);
	});
});
</script>